{:app-name "mateuszmazurczak"
 :db {:uri #or [#env DB_URI
                "datomic:sql://app-prod?jdbc:sqlite:./storage/sqlite.db"]}
 :env :production
 :http-server {:port #or [#env PORT 8080]
               :url "https://mateuszmazurczak.com"}
 :log {:level :info
       :sentry {:backend {:dsn #env SENTRY_BACKEND_DSN}}}
 :system {:sys/db-conn {:db-uri #ref [:db :uri]
                        :logger #ig/ref :sys/logging}
          :sys/error-tracking {:dsn #ref [:log :sentry :backend :dsn]
                               :env #ref [:env]
                               :logger #ig/ref :sys/logging}
          :sys/handler {:logger #ig/ref :sys/logging
                        :routes #var-ref mateuszmazurczak.endpoint.routes/routes
                        :translator #ig/ref :sys/translator}
          :sys/http-server {:handler #ig/ref :sys/handler
                            :http-port #ref [:http-server :port]
                            :logger #ig/ref :sys/logging}
          :sys/logging {:level #ref [:log :level]}
          :sys/translator {:debug? false
                           :logger #ig/ref :sys/logging}}}
