[{:id :routing-big-picture
  :title "Routing big picture"
  :date "2025/01/31"
  :description
  "This article aims to provide a general, shallow understanding of how client requests reach your application and what occurs during that process."
  :img "article/img/Big%20picture%201bb0109e113180bf89cfdd873a04069f/image.png"
  :tags [] ;; TODO add tags
  :content-md "routing_big_picture.md"}]
