{:deps {}
 :paths ["src/bb" "resources"]
 :tasks
 {-base-deps {:doc "Dependencies for a task using bb"
              :extra-deps {org.clojure/tools.cli {:mvn/version "1.1.230"}}}
  -dev-launch
  {:depends [-dev-launch:css-watch -dev-launch:fe-watch -dev-launch:start-repl]}
  -dev-launch:css-watch
  {:doc "Watch the css modifications"
   :enter (common/enter dev-launch/cli-opts (current-task))
   :requires [[mateuszmazurczak.dev-launch :as dev-launch]]
   :task (dev-launch/css-watch)}
  -dev-launch:db {:doc "Start datomic db"
                  :enter (common/enter dev-launch/cli-opts (current-task))
                  :requires [[mateuszmazurczak.dev-launch :as dev-launch]]
                  :task (dev-launch/start-db)}
  -dev-launch:fe-watch {:doc "Watch the frontend."
                        :enter (common/enter dev-launch/cli-opts (current-task))
                        :requires [[mateuszmazurczak.dev-launch :as dev-launch]]
                        :task (dev-launch/fe-watch
                               [:ltest :mateuszmazurczak-app :browser-test])}
  -dev-launch:start-repl
  {:doc "Start the clojure REPL."
   :enter (common/enter dev-launch/cli-opts (current-task))
   :requires [[mateuszmazurczak.dev-launch :as dev-launch]]
   :task (dev-launch/start-repl
          [:common-test :env-development-repl :1.12-storm])}
  :requires [[mateuszmazurczak.common :as common]]
  article {:depends [-base-deps]
           :doc "Generate HTML from articles"
           :enter (common/enter lint/cli-opts (current-task))
           :extra-deps {hiccup/hiccup {:mvn/version "2.0.0"}
                        io.github.nextjournal/markdown {:mvn/version "0.7.186"}}
           :requires [[mateuszmazurczak.tasks.article :as article]]
           :task (article/run)}
  build-jar {:depends [-base-deps clean]
             :doc "builds jar"
             :enter (common/enter build-jar/cli-opts (current-task))
             :extra-deps {io.github.babashka/tools.bbuild
                          {:git/sha "4493ba83664bdbfcaf932845fbd2f2183cdb7c1d"}}
             :requires [[mateuszmazurczak.tasks.build-jar :as build-jar]]
             :task (build-jar/run)}
  clean {:depends [-base-deps]
         :doc "Clean temp files"
         :enter (common/enter clean/cli-opts (current-task))
         :requires [[mateuszmazurczak.tasks.clean :as clean]]
         :task (clean/clean [".cpcache"
                             ".shadow-cljs"
                             "node_modules"
                             "target"
                             "resources/public/js/compiled"
                             "resources/public/css/compiled"
                             "tmp"])}
  dev-launch {:depends [-base-deps]
              :doc "Launch dev environment toolings."
              :enter (common/enter dev-launch/cli-opts (current-task))
              :requires [[mateuszmazurczak.dev-launch :as dev-launch]]
              :task (run '-dev-launch {:parallel true})}
  format {:doc "zprint format"
          :task (try (-> (babashka.process/shell
                          "zprint -w **/*.clj **/*.cljs **/*.cljc **/*.edn"
                          *command-line-args*)
                         System/exit)
                     (catch Exception e
                       (println "Repl failed also - error during repl startup"
                                (ex-message e))))}
  lconnect {:doc "Repl in case dev-launch is failing"
            :task (try (-> (babashka.process/shell
                            "clojure"
                            "-M:common-test:env-development-repl"
                            *command-line-args*)
                           System/exit)
                       (catch Exception e
                         (println "Repl failed also - error during repl startup"
                                  (ex-message e))))}
  lint {:depends [-base-deps]
        :doc "Linting"
        :enter (common/enter lint/cli-opts (current-task))
        :requires [[mateuszmazurczak.tasks.lint :as lint]]
        :task (lint/lint ["src" "test"])}
  test {:depends [-base-deps]
        :doc "Quick test"
        :enter (common/enter test/cli-opts (current-task))
        :requires [[mateuszmazurczak.tasks.tests :as test]]
        :task (test/run [:common-test])}
  update-deps {:depends [-base-deps]
               :doc "Update outdated dependencies"
               :enter (common/enter tasks-deps/cli-opts (current-task))
               :extra-deps {}
               :requires [[mateuszmazurczak.tasks.deps-version :as tasks-deps]]
               :task (tasks-deps/run)}}}
