{:app-name "mateuszmazurczak"
 :task-shared {:gha {}
               :publication
               {:as-lib kaspazza/mateuszmazurczak
                :frontend {:css {}
                           :deploy-alias :mateuszmazurczak-app
                           :run-aliases
                           [:mateuszmazurczak-app :browser-test :ltest]}
                :jar-main "mateuszmazurczak.core"
                :repo "git@github.com:hephaistox/mateuszmazurczak.git"}
               :repl-aliases [:common-test :env-development-repl :build]
               :storage-datomic {}}
 :tasks {:clean {:dirs [".cpcache/"
                        ".clj-kondo/.cache/"
                        "tmp/"
                        "target/"
                        "node_modules/"
                        ".shadow-cljs/builds/"]}
         :lfe-css {}
         :lfe-test {}
         :lfe-watch {}
         :reports {:forbiddenwords-words #{"automaton-build" "tap>"}}
         :update-deps {:exclude-libs
                       #{"com.taoensso/encore"
                         "org.clojars.hephaistox/automaton-build@*-*"
                         "org.clojars.hephaistox/automaton-core@*-*"
                         "org.clojars.hephaistox/automaton-web-dev@*-*"
                         "org.clojars.hephaistox/automaton-web@*-*"}}}}
