{:aliases
 {:antq {:deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
         :main-opts ["-m" "antq.core"]}
  :cljs-deps {:extra-deps {cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
                           juji/editscript {:mvn/version "0.6.6"}
                           lambdaisland/uri #:mvn{:version "1.19.155"}
                           re-frame/re-frame #:mvn{:version "1.4.3"}
                           reagent/reagent #:mvn{:version "2.0.1"}
                           thheller/shadow-cljs #:mvn{:version "3.3.1"}}
              :extra-paths ["src/cljs" "src/cljc" "resources"]}
  :cljs-dev-deps {:extra-deps {binaryage/devtools #:mvn{:version "1.0.7"}
                               cider/cider-nrepl {:mvn/version "0.58.0"}
                               day8.re-frame/http-fx #:mvn{:version "0.2.4"}
                               no.cjohansen/portfolio #:mvn{:version "2025.11.2"}
                               re-frisk/re-frisk {:mvn/version "1.7.1"}
                               refactor-nrepl/refactor-nrepl #:mvn{:version "3.11.0"}}
                  :extra-paths ["test/cljs"
                                "test/cljc"
                                "test/resources"
                                "env/development/src/cljs/"
                                "env/development/src/cljc/"]}
  :common-test
  {:exec-fn cognitect.test-runner.api/test
   :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                           :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}
                org.clojure/tools.namespace #:mvn{:version "1.5.0"}
                org.clojure/tools.reader #:mvn{:version "1.5.2"}}
   :extra-paths ["test/clj" "test/cljc" "test/resources"]
   :jvm-opts ["-Dconf-var=env/test/config.edn"]
   :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/clj" "-d" "test/cljc"]}
  :env-development-repl
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"}
                integrant/repl {:mvn/version "0.5.0"}
                nrepl/nrepl {:mvn/version "1.5.1"}
                refactor-nrepl/refactor-nrepl #:mvn{:version "3.11.0"}
                ring/ring-devel {:mvn/version "1.15.3"}}
   :extra-paths ["env/development/resources" "env/development/src/clj" "env/development/src/cljc"]
   :jvm-opts
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
    "-Dlog4j.configurationFile=resources/log_config/appenders.properties,resources/log_config/log4j2.properties"
    "-Dconf-var=env/development/config.edn"]
   :main-opts ["-m" "mateuszmazurczak.repl.entry-point"]}
  :jvm-base {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                        "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}
 :deps {aero/aero {:mvn/version "1.1.6"}
        amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
        com.datomic/peer {:mvn/version "1.0.7469"}
        com.taoensso/telemere {:mvn/version "1.1.0"}
        com.taoensso/telemere-slf4j {:mvn/version "1.1.0"}
        com.taoensso/tempura {:mvn/version "1.5.4"}
        com.taoensso/truss {:mvn/version "2.2.1"}
        datalevin/datalevin {:mvn/version "0.9.27"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        integrant/integrant {:mvn/version "1.0.1"}
        io.sentry/sentry {:mvn/version "7.18.0"}
        io.sentry/sentry-clj {:mvn/version "7.16.219"}
        metosin/malli {:mvn/version "0.20.0"}
        metosin/reitit {:mvn/version "0.9.2"}
        metosin/reitit-frontend {:mvn/version "0.9.2"}
        metosin/ring-http-response {:mvn/version "0.9.5"}
        org.xerial/sqlite-jdbc {:mvn/version "3.51.0.0"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring {:mvn/version "1.15.3"}
        ring/ring-anti-forgery {:mvn/version "1.4.0"}
        ring/ring-ssl {:mvn/version "0.4.0"}
        vvvvalvalval/datofu {:mvn/version "0.1.1"}}
 :paths ["src/clj" "src/cljc" "resources"]}
