{:builds
 {:browser-test {:ns-regexp "-test$"
                 :runner-ns shadow.test.browser
                 :target :browser-test
                 :test-dir ".shadow-cljs/target/browser-test"}
  :ltest {:ns-regexp "-test$"
          :output-to ".shadow-cljs/target/karma-test.js"
          :target :karma}
  :mateuszmazurczak-app
  {:asset-path "js/compiled"
   :build-options {:ns-aliases {cljsjs.marked cljsjs.highlight}}
   :dev {:closure-defines {mateuszmazurczak.system.config/ENV "development"
                           "re_frame.trace.trace_enabled_QMARK_" true}
         :compiler-options {:infer-externs :auto}
         :modules {:portfolio {:depends-on #{:mateuszmazurczak-share}
                               :entries [mateuszmazurczak.portfolio.portfolio]
                               :init-fn mateuszmazurczak.portfolio.portfolio/init}}}
   :devtools {:after-load mateuszmazurczak.frontend-core/re-render
              :preloads [re-frisk.preload]
              :repl-pprint true
              :watch-dir "resources/public"}
   :modules {:mateuszmazurczak-frontend-core {:depends-on #{:mateuszmazurczak-share}
                                              :init-fn mateuszmazurczak.frontend-core/init!}
             :mateuszmazurczak-share {:entries []}}
   :output-dir "resources/public/js/compiled"
   :release {:build-options {:cache-level :off}
             :closure-defines {mateuszmazurczak.system.config/ENV "production"
                               mateuszmazurczak.system.config/LOG_SENTRY_DNS ""
                               mateuszmazurczak.system.config/LOKI_ENDPOINT ""
                               mateuszmazurczak.system.config/POSTHOG_API_KEY ""}
             :compiler-options {:optimizations :advanced
                                :portfolio false}}
   :target :browser}}
 :deps {:aliases [:cljs-deps :cljs-dev-deps]}
 :dev-http {8081 [".shadow-cljs/target/browser-test"]}
 :nrepl {:middleware [cider.nrepl/cider-middleware refactor-nrepl.middleware/wrap-refactor]
         :port 8777}}
