{:lint-as {day8.re-frame.tracing/fn-traced clojure.core/fn
           me.raynes.conch/let-programs clojure.core/let
           me.raynes.conch/programs clojure.core/declare
           mount.core/defstate clojure.core/def
           org.httpkit.client/defreq clojure.core/def
           outpace.config/defconfig clojure.core/def
           spade.core/defclass clojure.core/defn
           spade.core/defglobal clojure.core/def}
 :linters {:redundant-ignore {:exclude [:clojure-lsp/unused-public-var]}
           :unresolved-symbol {:exclude [(portfolio.reagent-18/defscene)
                                         (mateuszmazurczak.portfolio.macros/embed-source)]}}}
