{:app-name "mateuszmazurczak"
 :db {;; :uri #or [#env DB_URI
      ;;           "datomic:sql://app-la?jdbc:sqlite:./storage/sqlite.db"]
      :uri #or [#env DB_URI "/app/data/db"]}
 :env :la
 :http-server {:port #or [#env PORT 8080]
               :url "https://la.mateuszmazurczak.com"}
 :log
 {:level :debug
  :sentry
  {:backend
   {:dsn
    #or
     [#env SENTRY_BACKEND_DSN
      "https://86167a7f36c16b913cbe0973ba3d30bb@o4508704825147392.ingest.de.sentry.io/4508704830783568"]}
   :frontend
   {:dsn
    #or
     [#env SENTRY_FRONTEND_DSN
      "https://96e2a27d085619b3c6c38084045e88a9@o4508704825147392.ingest.de.sentry.io/4508704840810576"]}}}
 :system {:sys/db-conn {:db-uri #ref [:db :uri]
                        :logger #ig/ref :sys/logging}
          :sys/error-tracking {:dsn #ref [:log :sentry :backend :dsn]
                               :env #ref [:env]
                               :logger #ig/ref :sys/logging}
          :sys/handler {:logger #ig/ref :sys/logging
                        :routes #var mateuszmazurczak.endpoint.routes/routes
                        :translator #ig/ref :sys/translator}
          :sys/http-server {:handler #ig/ref :sys/handler
                            :http-port #ref [:http-server :port]
                            :logger #ig/ref :sys/logging}
          :sys/logging {:level #ref [:log :level]}
          :sys/translator {:debug? false
                           :logger #ig/ref :sys/logging}}}
