{:app-name "mateuszmazurczak"
 :db {:uri #or [#env DB_URI #secrets [:db :uri]]}
 :env :la
 :http-server {:port #or [#env PORT 8080]
               :url "https://la.mateuszmazurczak.com"}
 :log {:level :debug
       :sentry {:backend {:dsn #or [#env SENTRY_BACKEND_DSN
                                    #secrets [:sentry :backend :dsn]]}
                :frontend {:dsn #or [#env SENTRY_FRONTEND_DSN
                                     #secrets [:sentry :frontend :dsn]]}}}
 :system {:logging.adapter/telemere {:level #ref [:log :level]}
          :sys/db-conn {:db-uri #ref [:db :uri]
                        :logger #ig/ref :sys/logging}
          :sys/error-tracking {:dsn #ref [:log :sentry :backend :dsn]
                               :env #ref [:env]
                               :logger #ig/ref :sys/logging}
          :sys/handler {:logger #ig/ref :sys/logging
                        :routes #var mateuszmazurczak.endpoint.routes/routes
                        :translator #ig/ref :sys/translator}
          :sys/http-server {:handler #ig/ref :sys/handler
                            :http-port #ref [:http-server :port]
                            :logger #ig/ref :sys/logging}
          :sys/logging {:adapter #ig/ref :logging.adapter/telemere
                        :level #ref [:log :level]}
          :sys/translator {:debug? false
                           :logger #ig/ref :sys/logging}}}
