{:admin {:api-key #or [#env ADMIN_API_KEY #secrets [:admin :api-key]]}
 :app-name "mateuszmazurczak"
 :db {:uri #or [#env DB_URI #secrets [:db :uri]]}
 :dev {:clj-nrepl-port 8000}
 :env :development
 :http-server {:port 3000
               :url "http://localhost"}
 :log {:level :trace
       :sentry {:backend {:dsn #or [#env SENTRY_BACKEND_DSN #secrets [:sentry :backend :dsn]]}
                :frontend {:dsn #or [#env SENTRY_FRONTEND_DSN #secrets [:sentry :frontend :dsn]]}}}
 :system {:i18n.adapter/tempura {:debug? true}
          :logging.adapter/telemere {:level #ref [:log :level]}
          :sys/db-conn {:db-uri #ref [:db :uri]
                        :logger #ig/ref :sys/logging}
          :sys/error-tracking {:logger #ig/ref :sys/logging}
          :sys/handler {:admin-api-key #ref [:admin :api-key]
                        :database #ig/ref :sys/db-conn
                        :logger #ig/ref :sys/logging
                        :routes #var mateuszmazurczak.adapters.http.routes/routes
                        :translator #ig/ref :sys/translator}
          :sys/http-server {:handler #ig/ref :sys/handler
                            :http-port #or [#ref [:http-server :port] 8080]
                            :logger #ig/ref :sys/logging}
          :sys/logging {:adapter #ig/ref :logging.adapter/telemere
                        :level #ref [:log :level]}
          :sys/translator {:adapter #ig/ref :i18n.adapter/tempura
                           :logger #ig/ref :sys/logging}}}
